[submodule "system/tmux/plugins/tpm"]
	path = system/tmux/plugins/tpm
	url = git://github.com/tmux-plugins/tpm.git
[submodule "system/tmux/plugins/tmux-resurrect"]
	path = system/tmux/plugins/tmux-resurrect
	url = git://github.com/tmux-plugins/tmux-resurrect.git
