[Unit]
Description=Start xremap

[Service]
EnvironmentFile=/home/katsyoshi/.config/xremap/env
ExecStart=/usr/local/bin/xremap --device ${KEYBOARD_TYPE} /home/katsyoshi/.config/xremap/config.yml --watch=config

[Install]
WantedBy=default.target
